@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-content.active {
    @apply block;
}
.display-none {
  @apply hidden;
}
.accordion-header.active {
    @apply bg-[#5E9A8E] text-[#fff];
}
@keyframes pointerMoving {
    0% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      opacity: 0.5;
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      opacity: 0.5;
    }
  }
